.filter {
  margin-bottom: 30px;
}

.filter__wrapper {
  border: 1px solid #F2F2F2;
  box-shadow: 0 0 16px rgba(0,0,0,.06);
}

.filter__toggle {
  display: none;
}

.filter__title {
  margin: 0;
  font-size: 15px;
  text-align: left;
  line-height: 1;
}

.filter__section,
.filter__header {
  padding: 16px 24px;
  border-bottom: 1px solid #f2f2f2;
}

.filter__bottom {
  padding: 16px 24px;
  
  .button {
    width: 100%;
  }
}

.filter__name {
  margin-top: 0;
  font-weight: 500;
  font-size: 15px;
}

.filter__section {
  .checkbox__label::before,
  .field-input {
    border-color: #E6E6E6;
  }
}

.filter__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter__price {
  .field-input {
    width: 90px;
    margin-bottom: 0;
  }
}

.filter__separator {
  line-height: 40px;
}
