.sorting,
.sorting__item,
.sorting__list,
.catalog__products-view,
.view-switch__inner {
  display: flex;
  align-items: center;
}

.catalog__products-view {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
  color: #494646;
  font-size: 14px;
  font-weight: 500;
}

.sorting__label {
  font-weight: 700;
  margin-right: 15px;
}

.sorting__list {
  .reset();
  list-style: none;  
  flex-wrap: wrap;
}

.sorting__item {
  margin-right: 15px;
}

.sorting__link {
  &:hover,
  &:active {
    color: #9d9ea4;
  }
}

.sorting__icon {
  margin-left: 8px;
  transform: rotate(-90deg);
  
  &--down {
    transform: rotate(90deg);
  }
}

.view-switch__button {
  margin-left: 15px;
  
  &:hover,
  &:active,
  &--active {
    color: #2BB622;
  }
}

.view-switch__label {
  margin-left: 8px;
  font-weight: 400;
  font-size: 13px;
}

.catalog__show-more {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.grid--with-sidebar.page__row .product-block--view_list {
  width: 100%;
  flex-direction: row;
  align-items: center;
  
  .product-block__image {
    width: 200px;
    margin-right: 32px;
  }
  .product-block__info {
    flex-grow: 1px;
    padding-right: 40px;
  }
  .product-block__title {
    text-align: left;
  }
  .product-block__buy {
    width: 200px;
    margin-top: 0;
    margin-left: auto;
  }
}
